.contact-me-flex-container {
    max-width: 525px;
    margin: auto auto 5em;
}

.contact-me-flex-container form {
    flex-direction: column;
    display: flex;
    gap: 1em;
}

.contact-me-flex-container input {
    background: #4E7493;
    color: white;
    border-radius: 3px;
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
    border: none;
    padding: 1em;
    display: flex;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::placeholder {
    opacity: 0.9;
    color: white;
    font-weight: 400;
}

.form-name-and-company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1em;
}

.form-name-and-company input {
    width: 255px
}

input[type=text], input[type=email] {
    height: 52px;
}

input[type=message] {
    height: 150px;
}

input[type=submit] {
    width: 165px;
    height: 52px;
    font-size: 1.5em;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

input[value=Send] {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625em;
    align-self: flex-end;
}

.contact h2 {
    margin-bottom: 1em;
}

@media (max-width: 548px) {
    .form-name-and-company input {
        width: 525px
    }
}

.ellipse4 {
    /* Ellipse 4 */

position: absolute;
width: 500px;
height: 500px;
left: -300px;
top: 2600px;

background: rgba(255, 255, 255, 0.13);
filter: blur(100px);

}